.sideScrollContainer {
  position: relative;
  width: 85vw;
  max-width: 1200px;
  overflow: hidden;
  margin: 2rem auto;
  height: auto;
  display: flex;
  align-items: center;
}

.sideScrollContent {
  display: flex;
  will-change: transform;
  padding-left: 50px;
  transition: transform 0.1s ease-out;
}

.scrollImage {
  width: 400px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

.firstImage {
  width: 400px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .sideScrollContainer {
    width: 90vw;
  }
}

@media (max-width: 768px) {
  .sideScrollContainer {
    width: 95vw;
    margin: 1rem auto;
  }

  .sideScrollContent {
    padding-left: 20px;
  }

  .scrollImage,
  .firstImage {
    width: 250px;
    margin-right: 15px;
  }
}